MODEL_PATH=models/rubert_sentiment_model
PORT=8000

S3_ENDPOINT_URL=https://hb.ru-msk.vkcloud-storage.ru
S3_REGION=ru-msk
S3_BUCKET=sentiment-analysis-bucket
S3_MODEL_PREFIX=models/rubert_sentiment_model
S3_ACCESS_KEY=
S3_SECRET_KEY=
